JELLYFIN_VERSION=latest
TRANSMISSION_VERSION=latest
DOMAIN_NAME=ddignac.fr
MEDIA_UID=1100
MEDIA_GID=1100
VPN_BIND_IP=10.3.0.1
SAMBA_DOWNLOAD_USER=download
SAMBA_DOWNLOAD_PASSWORD=change-me-download
SAMBA_MUSIC_USER=music
SAMBA_MUSIC_PASSWORD=change-me-music
SAMBA_WORKGROUP=WORKGROUP
SAMBA_USERID=1100
SAMBA_GROUPID=1100