ANTIDROP_WEB_VERSION=latest
ANTIDROP_API_VERSION=latest
REGISTRY_URL=registry.ddignac.fr
API_URL=https://antidrop.fr
ALIEXPRESS_PUBLIC_KEY=
ALIEXPRESS_SECRET_KEY=
ZAPIEX_API_KEY=
GOOGLE_CLOUD_API_KEY=
DATABASE_URL=