WG_PASSWORD=
PIHOLE_PASSWORD=
PIHOLE_VIRTUAL_HOST=
PIHOLE_IP=10.2.0.100
UNBOUND_IP=10.2.0.200
DNS_SERVER_1=9.9.9.9
DOMAIN_NAME=ddignac.fr
PIHOLE_VERSION=latest
UNBOUND_VERSION=latest
WG_EASY_VERSION=latest
DNS_SUBNET=10.2.0.0/24